/* Color */
@color-primary:      #FF4A79;   // 主色调
@color-background:   #f8f8f8;   // 背景颜色
@color-bg-light:     #FCFCFC;   // 浅背景色
@color-font:         #232323;   // 字体主要颜色
@color-font-bule:    #4990E2;   // 蓝色字体
@color-second-font:  #666666;   // 字体第二个颜色
@color-third-font:   #999999;   // 字体第三个颜色
@color-hover:        #F4FFEA;   // 表格等hover的背景色
@color-line:         #E9E9E9;   // 线条颜色(介于深浅之间)
@color-line-dark:    #CCC;      // 线条颜色(深)
@color-line-light:   #F2F2F2;   // 线条颜色(浅)
@input-hover-color:  #D8D8D8;
@input-focus-color:  #ff4949;


/* font-size */
@fs12:12px;
@fs14:14px;
@fs16:16px;